<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="/image/Baseball.png">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Arbutus&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
	
	<body>
		<nav>
			<% if (user) { %>
				<a href="/logout">LOG OUT</a>
				<% } else { %>
					<a href="/auth/google">LOG IN</a>
					<% } %>
					<a href="/games">SCHEDULE</a> <a href="/players">ROSTER</a>
		</nav>
				<br>

				<title>
					<%= title %>
				</title>
		
			<h1>LOS ANGELES DINGOES</h1>
<img src="/image/team_bw.png" class= "dingo" alt="The Dingoes">
<h3>Est. 2023</h3>

<%- include('./partials/footer') %>
