
* {
    box-sizing: border-box;
    /* font-family: Barlow Condensed; */
}

h2 {
    font: 'Oleo Script', cursive;

}

body {
    padding: 50px;
    /* font: 18px 'Barlow Condensed',
        sans-serif; */
    background-color: rgb(167, 179, 227);

}

a {
    color: #2e24b4;
}